.main-wrapper {
    flex-grow: 1;
    margin-top: 72px;
    margin-left: 232px;
    max-width: calc(1920px - 232px);
    display: flex;
    flex-direction: column;
    height: calc(100vh - 96px);
}

.main-content {
    padding: 0 64px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#logo-slide {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    background-color: #4589ff;
    transition: transform 1s cubic-bezier(0.77, 0, 0.18, 1);
    will-change: transform;
}

#logo-slide svg {
    width: 265px;
    height: 324px;
    transition:
    width 1s cubic-bezier(0.77, 0, 0.18, 1),
    height 1s cubic-bezier(0.77, 0, 0.18, 1);
}

@media (max-width: 1493px) {
    .kanban {
        flex-direction: column;
    }

    .task-cards {
        flex-direction: row !important;
        flex-wrap: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        gap: 12px;
    }
    
    .task-card {
        width: 252px;
        flex: 0 0 252px;
    }
}

@media (max-width: 1024px) {
    .main-wrapper {
        margin-left: 0;
    }

}
