.main-wrapper {
    flex-grow: 1;
    margin: 72px 0 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}


#logo-slide {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    background-color: #4589ff;
    transition: transform 1s cubic-bezier(0.77, 0, 0.18, 1);
    will-change: transform;
}

#logo-slide svg {
    width: 265px;
    height: 324px;
    transition:
        width 1s cubic-bezier(0.77, 0, 0.18, 1),
        height 1s cubic-bezier(0.77, 0, 0.18, 1);
}
