.task-card {
  background-color: white;
  border: 1px solid #eee;
  border-radius: 24px;
  padding: 12px 16px;
  margin-bottom: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s ease;
}

.task-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.kanban {
    gap: 24px;
    padding: 20px;
}

.ticket-label {
    border-radius: 8px;
    padding: 4px 16px;
}

#user-story {
    background-color: #FF7A00;
}

#technical-task {
    background-color: #0038FF;
}
