.btn-add {
  color: white;
  padding: 16px 10px;
  border-radius: 8px;
  border: none;
  background-color: #4589ff;
}

.btn-add:hover {
  background-color: #005dff;
}

.btn-add:active {
  background-color: #091931;
}

.btn-secondary-with-icon {
  font-size: 23px;
  background-color: white;
  border-radius: 10px;
  padding: 16px 10px;
  border: 1px solid #647188;
  color: #647188;
}

.btn-secondary-with-icon:hover {
  border: 2px solid #4589ff;
  color: #4589ff;
}

.btn-secondary-with-icon:active {
  border: 1px solid #005dff;
  color: #005dff;
}

.btn-no-icon {
  color: white;
  padding: 10px 35px;
  border-radius: 8px;
  border: none;
  background-color: #4589ff;
}

.btn-no-icon:hover {
  background-color: #005dff;
}

.btn-no-icon:active {
  color: #4589ff;
  background-color: white;
}

.btn-secondary {
  background-color: white;
  border-radius: 8px;
  padding: 10px 35px;
  border: 1px solid #647188;
  color: #647188;
}

.btn-secondary:hover {
  border: 2px solid #4589ff;
  color: #4589ff;
}

.btn-secondary:active {
  border: 1px solid #005dff;
  color: #005dff;
}

.btn-with-icon {
  font-size: 23px;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 16px 10px;
  background-color: #4589ff;
}

.btn-with-icon:hover {
  background-color: #005dff;
}

.btn-with-icon:active {
  color: #4589ff;
  background-color: white;
}

.btn-menu {
  padding: 8px 30px;
  border-radius: 8px;
  border: none;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 16px;
  color: rgba(66, 82, 110, 1);
}

.btn-menu:hover {
  background-color: #e3eeff;
}

.btn-menu:active {
  background-color: #d2e3ff;
}

.btn-menu img {
  width: 24px;
  height: 24px;
}

.btn-add-icon {
  border-radius: 8px;
  padding: 3px;
  border: solid 1px #4589ff;
  background-color: transparent;
}

.btn-add-icon svg {
  fill: #4589ff;
}

.btn-add-icon:hover {
  border: solid 1px #005dff;
}

.btn-add-icon:hover svg {
  fill: #005dff;
}

.btn-add-icon:active {
  border: solid 1px #ababab;
}

.btn-add-icon:active svg {
  fill: #ababab;
}

.btn-close {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 50%;
}

.btn-close:hover {
  background-color: #4589ff;
}

.btn-close-white {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 50%;
}

.btn-close-white:hover {
  background-color: #E3EEFF;
}

.text-btn-with-icon {
  background: none;
  border: none;
  color: #4589ff;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-weight: bold;
  padding: 0;
}

.text-btn-with-icon:hover {
  color: #005dff;
}

.text-btn-with-icon:hover path {
  fill: #005dff;
}

.radio-to-btn input {
  display: none;
}

.radio-to-btn label {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 10px 18px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease;
}

.radio-to-btn label.active {
  color: white !important;
  path {
    transition: all 0.3s ease;
    fill: #FFFFFF !important;
  }
}

label#low-priority:hover {
  border-bottom: #7AE229 4px solid;
}

label#medium-priority:hover {
  border-bottom: #FFA800 4px solid;
}

label#urgent-priority:hover {
  border-bottom: #FF3D00 4px solid;
}

label#low-priority:checked {
  background-color: #7AE229;

}

label#medium-priority:checked {
  background-color: #FFA800;
}

label#urgent-priority:checked {
  background-color: #FF3D00;
}

.radio-to-btn {
  background-color: white;
}
