.btn-add {
  color: white;
  padding: 16px 10px;
  border-radius: 8px;
  border: none;
  background-color: #4589ff;
}

.btn-add:hover {
  background-color: #005dff;
}

.btn-add:active {
  background-color: #091931;
}

.btn-secondary-with-icon {
  background-color: white;
  border-radius: 10px;
  padding: 16px 10px;
  border: 1px solid #647188;
  color: #647188;
}

.btn-secondary-with-icon:hover {
  border: 2px solid #4589ff;
  color: #4589ff;
}

.btn-secondary-with-icon:active {
  border: 1px solid #005dff;
  color: #005dff;
}

.btn-no-icon {
  color: white;
  padding: 10px 35px;
  border-radius: 8px;
  border: none;
  background-color: #4589ff;
}

.btn-no-icon:hover {
  background-color: #005dff;
}

.btn-no-icon:active {
  color: #4589ff;
  background-color: white;
}

.btn-secondary {
  background-color: white;
  border-radius: 8px;
  padding: 10px 35px;
  border: 1px solid #647188;
  color: #647188;
}

.btn-secondary:hover {
  border: 2px solid #4589ff;
  color: #4589ff;
}

.btn-secondary:active {
  border: 1px solid #005dff;
  color: #005dff;
}

.btn-with-icon {
  color: white;
  border: none;
  border-radius: 10px;
  padding: 16px 10px;
  background-color: #4589ff;
}

.btn-with-icon:hover {
  background-color: #005dff;
}

.btn-with-icon:active {
  color: #4589ff;
  background-color: white;
}

.btn-menu {
  padding: 8px 30px;
  border-radius: 8px;
  border: none;
  background-color: white;
}

.btn-menu:hover {
  background-color: #e3eeff;
}

.btn-menu:active {
  background-color: #d2e3ff;
}

.btn-add-icon {
  border-radius: 8px;
  padding: 3px;
  border: solid 1px #4589ff;
  background-color: transparent;
}

.btn-add-icon svg {
  fill: #4589ff;
}

.btn-add-icon:hover {
  border: solid 1px #005dff;
}

.btn-add-icon:hover svg {
  fill: #005dff;
}

.btn-add-icon:active {
  border: solid 1px #ABABAB;
}

.btn-add-icon:active svg {
  fill: #ABABAB;
}
