.contact-menu {
  position: fixed;
  left: 222px;
  top: 96px;
  bottom: 0;
  overflow-y: scroll;
  padding: 32px 24px 16px 62px;
  width: 466px;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
}

.contact-menu button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.contact-list {
  display: flex;
  flex-direction: column;
}

.contact-card {
  display: flex;
  padding: 15px 24px;
  border-radius: 8px;
  gap: 35px;
}


.contact-card:hover {
  background-color: #D2E3FF;
  cursor: pointer;
}

.contact-card:active {
  background-color: #4589FF;
}

.contact-card.active {
  background-color: #4589FF;
  color: white;
}

.contact-card.active .contact-email {
  color: white;
}

.alphabet-header {
  margin-bottom: 8px;
  border-bottom: 1px solid #D2E3FF;
  padding: 17px 0 17px 36px;
}

.alphabet-header h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  color: #333;
}

.user-avatar-lg {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 3px solid white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 47px;
  margin-right: 54px;
}

.contact-info {
  display: flex;
  flex-direction: column;
}

.contact-name {
  font-weight: bold;
}

.contact-email {
  color: #4589FF;
}

.contact-form-header {
  background: #005DFF;
}

.contact-form-header,
.contact-side-menu form {
  flex-direction: column;
  align-items: center;
  padding: 24px;
  gap: 8px;
}

.main-content {
  width: calc(100% - 750px);
}

.input-icon-container {
  border-bottom: 1px solid #D1D1D1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
}

.input-icon-container input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  font-size: 1rem;
}

.user-avatar-sm {
  width: 42px;
  height: 42px;
  font-size: 16px;
  font-weight: 500;
  border: white 2px solid;
}

::-webkit-scrollbar {
  background: white;
  width: 24px;
}

::-webkit-scrollbar-thumb {
  background: #8a8a8a;
  border-radius: 12px;
  border: 8px solid white;
  
}