.contact-menu {
  display: flex;
  flex-direction: column;
  padding: 16px;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
}

.contact-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.contact-card {
  display: flex;
  align-items: center;
  padding: 12px;
  border-radius: 8px;
}

.contact-card:hover {
  background-color: #D2E3FF;
  cursor: pointer;
}

.contact-card:active {
  background-color: #4589FF;
}

.contact-card.active {
  background-color: #4589FF;
  color: white;
}

.contact-card.active .contact-email {
  color: white;
}

.user-avatar-sm {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
}

.contact-info {
  display: flex;
  flex-direction: column;
}

.contact-name {
  font-weight: bold;
}

.contact-email {
  color: #4589FF;
}



