body {
    overflow-y: scroll;
    font-family: "Open Sans", sans-serif;

}

.header-fix {
    display: flex;
    position: fixed;
    width: 100%;
}

.main-wrapper-ds {
    display: flex;
    justify-content: flex-end;
    max-width: 1920px;
    padding: 79px;
}

.sec-sidebar {
    position: fixed;
    width: 232px;
    height: 100vh;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 124px 23px 66px 23px;
}

.sidenav {
    flex-direction: column;
    gap: 10px;
}

.sidebar-footer,
a {
    font-size: 16px;
    color: rgba(66, 82, 110, 1);
    text-align: left;
    flex-direction: column;
    gap: 15px;
}

.selected-link {
    background-color: var(--color-light-blue);
    padding: 8px;
    border-radius: 10px;
    width: 126px;
    color: var(--color-font-white);
    font-weight: bold;
    font-size: 16px;
}

.pad-8 {
    padding: 8px;

}

.m-top-72 {
    margin: 72px 0px;
}

h2 {
    font-weight: 700;
    color: var(--color-blue-hover);
    margin: 35px 0px 10px 0px;
}

h3 {
    color: var(--color-light-blue);
    font-size: 19px;
}

ul {
    margin-left: 32px;
}