.logInForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
  border-radius: 30px;
  min-width: 652px;
  min-height: 448px;
  padding: 48px 115px;
}

.logInMainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input1 {
  width: 100%;
  border-style: none;
  /* border-bottom: solid; */
  /* border-width: 1px; */
  /* gap: 20px; */
  /* margin: 0 0 10px; */
  margin-bottom: 0px;
  padding-bottom: 0px;
}


.input-icon-container {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #a8a8a8;
  justify-content: space-around;
  /* margin-bottom: 24px; */
  padding: 12px 16px;
}

.input-icon-container input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  font-size: 1rem;
  /* padding: 8px ; */
  /* padding-bottom:  0px; */
}

.logInButton {
  margin: 10px 0 0;
}

.input-icon-container svg {
  margin-left: 12px;
}

.login-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  top: 67px;
  right: 86px;
  gap: 20px;
}

.legal-footer {
  display: flex;
  justify-content: center;
  gap: 20px;
}

footer a {
  color: rgba(66, 82, 110, 1);
}


.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  pointer-events: none;

  animation-delay: 2s;
}

.loader::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4589ff;
  animation: fadeOutBg 1s ease forwards 1s;
  animation-delay: 1s;
  z-index: -1;
}


@keyframes fadeOutBg {
  0% {
    background-color: #4589ff;
    opacity: 1;
  }

  100% {
    background-color: transparent;
    opacity: 0;
    visibility: hidden;
  }
}

.loader svg {
  width: 100px;
  height: 120px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: moveAndColor 1s ease forwards;
}

@keyframes moveAndColor {
  0% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  100% {
    top: 80px;
    left: 24px;
    transform: none;
  }
}

.loader svg path {
  animation: fillToBlue 2s ease forwards;
}

@keyframes fillToBlue {
  0% {
    fill: white;
  }

  100% {
    fill: #4589ff;
  }
}

/* #loader .hidden {
  display: none;
} */