.logInForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
  border-radius: 30px;
  min-width: 652px;
  min-height: 448px;
  padding: 48px 115px;
}

.logInMainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input1 {
  width: 100%;
  border-style: none;
  /* border-bottom: solid; */
  /* border-width: 1px; */
  /* gap: 20px; */
  /* margin: 0 0 10px; */
  margin-bottom: 0px;
  padding-bottom: 0px;
}


.input-icon-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--color-grey-light);
  justify-content: space-around;
  margin-bottom: 10px;
  padding: 12px 21px;
}

.input-icon-container input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  font-size: 1rem;
  /* padding: 8px ; */
  /* padding-bottom:  0px; */
}

.logInButton {
  margin: 10px 0 0;
}

.input-icon-container svg {
  margin-left: 12px;
}

.login-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  top: 67px;
  right: 86px;
  gap: 20px;
}

.legal-footer {
  display: flex;
  justify-content: center;
  gap: 20px;
}

footer a {
  color: rgba(66, 82, 110, 1);
}


.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  pointer-events: none;

  animation-delay: 2s;
}

.loader::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4589ff;
  z-index: -1;
  animation: backgroundTransition 2s ease forwards;
}

@keyframes backgroundTransition {
  0% {
    background-color: #4589ff;
  }

  100% {
    background-color: rgba(69, 137, 255, 0);
  }
}

.loader-image {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: logoTransition 2s ease forwards;
}

#loader-image-white {
  animation: logoTransition 2s ease forwards;
}

#loader-image-white path {
  animation: svgFillTransition 2s ease forwards;
}

@keyframes svgFillTransition {
  0% {
    fill: #ffffff;
  }

  100% {
    fill: #4589ff;
  }
}

@keyframes logoTransition {
  0% {
    top: 50%;
    left: 50%;
    width: 274px;
    height: 334px;
    transform: translate(-50%, -50%);
  }

  100% {
    top: 78px;
    left: 78px;
    width: 100px;
    height: 122px;
    transform: none;
  }
}

#loader.start-animation #loader-image-white {
  animation: fadeOutWhite 1s ease forwards;
}

@keyframes fadeOutWhite {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

#loader.start-animation #loader-image-black {
  animation: fadeInBlack 1s ease forwards;
  display: none;
}

@keyframes fadeInBlack {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}