    body,
    html {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background: transparent;
    }

    .loader {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }


    .loader::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #4589ff;
        animation: fadeOutBg 1s ease forwards 1s;
        z-index: -1;
    }

    @keyframes fadeOutBg {
        0% {
            background-color: #4589ff;
        }

        100% {
            background-color: transparent;
        }
    }

    .loader svg {
        width: 100px;
        height: 120px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: moveAndColor 1s ease forwards;
    }

    @keyframes moveAndColor {
        0% {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        100% {
            top: 80px;
            left: 24px;
            transform: none;
        }
    }

    .loader svg path {
        animation: fillToBlue 2s ease forwards;
    }

    @keyframes fillToBlue {
        0% {
            fill: white;
        }

        100% {
            fill: #4589ff;
        }
    }