.logInForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
  border-radius: 30px;
  min-width: 652px;
  min-height: 448px;
  padding: 48px 115px;
}

.logInMainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  width: 100%;
  border-style: none;
  border-bottom: solid;
  border-width: 1px;
  gap: 20px;
  margin: 0 0 10px;
}

.logInButton {
  margin: 10px 0 0;
}

.input-icon-container {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #a8a8a8;
  margin-bottom: 24px;
  padding-bottom: 8px;
}

.input-icon-container input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  font-size: 1rem;
  padding: 8px 0;
}

.input-icon-container svg {
  margin-left: 12px;
}

.login-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  top: 67px;
  right: 86px;
  gap: 20px;
}

.legal-footer {
  display: flex;
  justify-content: center;
  gap: 20px;
}

footer a {
  color: rgba(66, 82, 110, 1);
}


