.overlay-menu {
    position: fixed;
    width: 400px;
    top: 0;
    height: 100%;
    background-color: white;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
    z-index: 1100;
    overflow: hidden;
    transition: right 0.3s ease, left 0.3s ease;
}

.overlay-menu.right {
    right: -400px;
    border-radius: 30px 0px 30px 30px;
}

.overlay-menu.left {
    left: -400px;
    border-radius: 0px 30px 30px 30px;
}

.overlay-menu.open.right {
    right: 0;
}

.overlay-menu.open.left {
    left: 0;
}