#register-body {
  background-color: #4589ff;
}

.register-form {
  background-color: white;
  min-width: 598px;
  min-height: 607px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
  border-radius: 30px;
}

.register-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#checkbox-container {
  display: flex;
  justify-content: center;
  font-size: 16px;
  align-items: center;
}

#check-box {
  margin: 0 10px 0 0;
  width: auto;
}

.register-form .back-button-link {
  position: absolute;
  left: 55.83px;
  top: 88px;
  margin: 0 0 0px;
}

.register-main-container .register-form {
  position: relative;
}

#signup-legal-footer {
  background-color: #4589ff;
}

#signup-legal-footer a {
  color: white;
}

.button-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
