* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;

}

a {
  text-decoration: none;
  padding: 8px;
}

.d-none {
  display: none !important;
}

.d-block {
  display: block !important;
}


.btn-signup {
  color: var(--color-font-white);
  padding: 10px 16px;
  border-radius: 8px;
  border: none;
  background-color: var(--color-light-blue);
  font-size: 23px;
}

.btn-signup:hover {
  background-color: var(--color-blue-hover);
}

.register-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: var(--color-light-blue);
  height: 100vh;
  padding-top: 48px;
}

.back-button-link {
  position: absolute;
  left: 55.83px;
  top: 60px;
  width: 37px;
  height: 37px;
}

.logo-header {
  position: absolute;
  width: 100px;
  top: 80px;
  left: 77px;
}

.register-form {
  position: relative;
  background-color: var(--color-font-white);
  border-radius: 30px;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
  padding: 48px 88px;
}

.head-reg {
  text-align: center;
  font-weight: bold;
  font-size: 48px;
}

.separator {
  width: 150px;
  margin: auto;
  margin-top: 16px;
  border: 2px solid var(--color-light-blue);
  border-radius: 25px;
}

.form-content {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.main-reg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 422px;
  min-height: 324px;
  gap: 16px;
  margin: 0 auto;
}

.mainReg>div {
  width: 100%;

}


.fieldContainer {
  display: flex;
  flex-direction: column;
}

.validInput {
  border-bottom: 1px solid var(--color-light-blue);

}

.invalidInput {
  border-bottom: 1px solid var(--color-red);
}

#confirmPasswordIcon,
#passwordIcon {
  cursor: pointer;
}


#checkbox-container {
  display: flex;
  justify-content: center;
  font-size: 22px;
  align-items: center;
  padding-bottom: 16px;
}

#checkboxContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  padding-bottom: 16px;

}

.custom-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

#privacy-checkbox {
  content: "";
  position: relative;
  width: 24px;
  height: 24px;
}

#privacy-checkbox::before {
  content: "";
  background-color: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background-image: url(..//assets/icon/sign/unchecked.svg);
}

#privacy-checkbox:checked::before {
  content: "";
  position: absolute;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background-image: url(..//assets/icon/sign/checked.svg);
}

.btnContainer {
  display: flex;
  justify-content: center;
  gap: 35px;

}

#btnSignup {
  white-space: nowrap;
  padding: 12px 20px;
  font-size: 24px;
}


.msgError {
  color: var(--color-red);
  text-align: left;
  font-size: 14px;
}

.valid {
  color: green;
}

.invalid {
  color: var(--color-red);
}

.footContainer {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: space-between;
  bottom: 7px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.footContainer a {
  color: var(--color-font-white);
  font-size: 16px;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-text-fill-color: #000 !important;
  transition: background-color 9999s ease-in-out 0s;
}

.ol-end {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.ol-end-content {
  background: var(--color-light-blue);
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  height: 74px;
  width: 326px;
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  animation: fadeIn 0.4s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(+100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}