* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", Arial, sans-serif;

}

a {
  text-decoration: none;
  padding: 8px;
}

.d-none {
  display: none !important;
}

.d-block {
  display: block !important;
}

.register-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: var(--color-light-blue);
  height: 100dvh;
  margin: 0 auto;
  gap: 35px;

}

.back-button-link {
  position: absolute;
  left: 55.83px;
  top: 60px;
  width: 37px;
  height: 37px;
}

.register-form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-font-white);
  width: 598px;
  min-height: 607px;
  border-radius: 30px;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
  padding: 48px 88px;
}

.head-reg {
  text-align: center;
  font-weight: bold;
  font-size: 48px;
}

.separator {
  width: 150px;
  margin: 16px auto;
  border: 2px solid var(--color-light-blue);
}

.main-reg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  width: 422px;
  min-height: 324px;
  margin: 0 auto;
}

.main-reg>div {
  width: 100%;

}


.field-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.valid-input {
  border-bottom: 1px solid var(--color-light-blue);

}

.invalid-input {
  border-bottom: 1px solid var(--color-red);
}

#confirm-password-icon,
#password-icon {
  cursor: pointer;
}

.btn-container {
  padding-top: 10px;
}

.msg-error {
  color: red;
  text-align: left;
  font-size: 12px;
}

.foot-container {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: space-between;
}

.foot-container a {
  color: var(--color-font-white);
  font-size: 16px;

}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-text-fill-color: #000 !important;
  transition: background-color 9999s ease-in-out 0s;
}

.ol-end {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.ol-end-content {
  background: var(--color-light-blue);
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  height: 74px;
  width: 326px;
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  animation: fadeIn 0.4s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(+100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}