.sidebar-content {
    width: 232px;
    height: calc(-96px + 100%);
    position: fixed;
    left: 0;
    bottom: 0;
    overflow: hidden;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 42px 23px 23px;
    overflow: hidden;
    z-index: 1;
}

.sidenav {
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.sidebar-footer,
a {
    font-size: 16px;
    color: rgba(66, 82, 110, 1);
    text-align: left;
    flex-direction: column;
    gap: 15px;
    text-decoration: none;
}
