.sidebar-content {
  width: 232px;
  overflow: hidden;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
  display: flex;  
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 43px 23px 66px 23px;
}

.sidenav {
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.sidebar-footer {
  font-size: 16px;
  color: #a8a8a8;
  text-align: center;
  flex-direction: column;
  gap: 15px;
}
