/* Main Styles for Join Project */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  overflow: hidden;
  background: transparent;
}

.body-no-scroll {
  max-height: 100svh !important;
}

/* Utility Classes */
.d-none {
  display: none !important;
}

.d-block {
  display: block !important;
}

.d-flex {
  display: flex !important;
}

.text-center {
  text-align: center;
}

a {
  text-decoration: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari and Opera */
}

hr.solid {
  border-top: 3px solid white;
  width: 145px;
}

/* Container */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Header */
header {
  position: relative;
  z-index: 2;
  background: #4589ff;
  height: 96px;
  padding: 0 40px;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
}

/* Main Content */
main {
  min-height: calc(100vh - 120px);
}
.user-avatar {
  color: #4589ff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 3px #ffffff;
}

.user-avatar div {
  background: #ffffff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1rem;
  padding: 8px;
}

.inner-header {
  gap: 20px;
  align-items: center;
  color: #ffffff;
  font-size: 1.2rem;
}

