/* Main Styles for Join Project */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 120%;
}

body {
    font-family: "Inter", Arial, sans-serif;
    color: #333;
    overflow: hidden;
    background: transparent;
}

.body-no-scroll {
    max-height: 100svh !important;
}



/* Utility Classes */
.d-none {
    display: none !important;
}

.d-block {
    display: block !important;
}

.d-flex {
    display: flex !important;
}

.text-center {
    text-align: center;
}

a {
    text-decoration: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari and Opera */
}

hr.solid {
    border-top: 3px solid white;
    width: 145px;
}

/* Container */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header */
header {
    position: relative;
    z-index: 2;
    background: #4589ff;
    height: 96px;
    padding: 0 40px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
}

/* Main Content */
main {
    min-height: calc(100vh - 96px);
}

.user-avatar {
    color: #4589ff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 3px #ffffff;
    cursor: pointer;
    position: relative;
}

.user-avatar > div:not(.user-dropdown-menu) {
    background: #ffffff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1rem;
    padding: 8px;
}

/* User Dropdown Menu */
.user-dropdown-menu {
  position: absolute;
  top: 71px;
  margin-right: 42px;
  background: #ffffff;
  border-radius: 20px 0px 20px 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  width: 172px;
  height: 137px;
  display: flex;
  flex-direction: column;
  padding: 8px;
  gap: 12px;
}

.user-dropdown-menu a {
  /* display: block; */
  padding: 4px 16px;
  color: #333;
  text-decoration: none;
  font-size: 19px;
  transition: background-color 0.2s ease;
  text-align: right;
}

.user-dropdown-menu a:hover {
  background-color: var(--color-hover-blue);
  border-radius: 8px;
}

.inner-header {
    gap: 20px;
    align-items: center;
    color: #ffffff;
    font-size: 1.2rem;
}

.user-avatar-sm {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blur-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 1);

    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition:
        opacity 0.3s ease,
        visibility 0.3s ease;
}

.blur-overlay.active {
    opacity: 0.84;
    visibility: visible;
}

/* Desktop */
.hide-mobile {
  display: none;
}

/* Mobile */

@media (max-width: 850px) {
  header {
    padding: 0 16px;
    height: 80px;
  }

  .inner-header p {
    display: none;
  }

  .user-dropdown-menu {
    height: 179px;
  }

  .help-icon {
    display: none;
  }

  .hide-mobile {
    display: block;
  }
}
