button {
	cursor: pointer;
}

.btn-add {
	color: white;
	padding: 0 10px;
	border-radius: 8px;
	gap: 10px;
	border: none;
	background-color: #4589ff;
	border: 1px solid #4589ff;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 23px;
}

.btn-add img {
	margin: 17px 0;
}

.btn-add img {
	width: 15px;
	height: 15px;
}

.btn-add:hover {
	background-color: #005dff;
	border: 1px solid #005dff;
}

.btn-add:active {
	background-color: #091931;
	border: 1px solid #4589ff;
}

.btn-secondary-with-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 23px;
	background-color: white;
	border-radius: 10px;
	padding: 16px 10px;
	border: 1px solid #647188;
	color: #647188;
}

.btn-secondary-with-icon:hover {
	border: 2px solid #4589ff;
	color: #4589ff;
}

.btn-secondary-with-icon:active {
	border: 1px solid #005dff;
	color: #005dff;
}

.btn-no-icon {
	font-size: 23px;
	color: white;
	padding: 10px 35px;
	border-radius: 8px;
	border: none;
	background-color: #4589ff;
}

.btn-no-icon:hover {
	background-color: #005dff;
}

.btn-no-icon:active {
	color: #4589ff;
	background-color: white;
}

.btn-secondary {
	font-size: 23px;
	background-color: white;
	border-radius: 8px;
	padding: 10px 35px;
	border: 1px solid #647188;
	color: #647188;
}

.btn-secondary:hover {
	border: 2px solid #4589ff;
	color: #4589ff;
}

.btn-secondary:active {
	border: 1px solid #005dff;
	color: #005dff;
}

.btn-with-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 4px;
	font-size: 23px;
	color: white;
	border: none;
	border-radius: 10px;
	padding: 16px 10px;
	background-color: #4589ff;
}

.btn-with-icon:hover {
	background-color: #005dff;
}

.btn-with-icon:active {
	color: #4589ff;
	background-color: white;
}

.btn-menu {
	padding: 8px 30px;
	border-radius: 8px;
	border: none;
	background-color: white;
	display: flex;
	align-items: center;
	flex-direction: row;
	gap: 16px;
	color: rgba(66, 82, 110, 1);
}

.btn-menu:hover {
	background-color: #e3eeff;
}

.btn-menu:active {
	background-color: #d2e3ff;
}

.btn-menu img {
	width: 24px;
	height: 24px;
}

.btn-add-icon {
	border-radius: 8px;
	padding: 3px;
	border: solid 1px #4589ff;
	background-color: transparent;
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn-add-icon svg {
	fill: #4589ff;
}

.btn-add-icon:hover {
	border: solid 1px #005dff;
}

.btn-add-icon:hover svg {
	fill: #005dff;
}

.btn-add-icon:active {
	border: solid 1px #ababab;
}

.btn-add-icon:active svg {
	fill: #ababab;
}

.btn-close {
	border: none;
	background-color: transparent;
	position: absolute;
	top: 20px;
	right: 20px;
	border-radius: 50%;
}

.btn-close:hover {
	background-color: #4589ff;
}

.btn-close-white {
	border: none;
	background-color: transparent;
	position: absolute;
	top: 20px;
	right: 20px;
	border-radius: 50%;
}

.btn-close-white:hover {
	background-color: #e3eeff;
}

.text-btn-with-icon {
	background: none;
	border: none;
	color: #4589ff;
	display: inline-flex;
	align-items: center;
	gap: 8px;
	font-weight: bold;
	padding: 0;
}

.text-btn-with-icon:hover {
	color: #005dff;
}

.text-btn-with-icon:hover path {
	fill: #005dff;
}

.radio-to-btn input {
	display: none;
}

.radio-to-btn label {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1;
	border-radius: 10px;
	max-width: 136px;
	width: 100%;
	gap: 10px;
	padding: 10px 18px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	transition: all 0.3s ease;
	border-bottom: solid 2px transparent;
}

.radio-to-btn input:checked + label {
	color: white !important;
	path {
		transition: all 0.3s ease;
		fill: #ffffff !important;
	}
}

label.low-priority:hover {
	border-bottom: #7ae229 2px solid;
}

label.medium-priority:hover {
	border-bottom: #ffa800 2px solid;
}

label.urgent-priority:hover {
	border-bottom: #ff3d00 2px solid;
}

.radio-to-btn input:checked + label.low-priority {
	background-color: #7ae229 !important;
}

.radio-to-btn input:checked + label.medium-priority {
	background-color: #ffa800 !important;
}

.radio-to-btn input:checked + label.urgent-priority {
	background-color: #ff3d00 !important;
}

.radio-to-btn {
	background-color: white;
	gap: 16px;
}

.remove-subtask-btn {
	background: none;
	border: none;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 4px;
	border-radius: 4px;
	transition: background-color 0.3s ease;
}

.remove-subtask-btn:hover {
	background-color: #e0e0e0;
}

.remove-subtask-btn svg path {
	transition: stroke 0.3s ease;
}

.remove-subtask-btn:active svg path {
	stroke: #005dff;
}

.form-btn-group {
	position: absolute;
	right: 8px;
	display: flex;
	align-items: center;
	gap: 4px;
}

.vertical-divider {
	width: 1px;
	height: 24px;
	background-color: #d1d1d1;
}
.form-btn-round {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background: transparent;
	border: none;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.form-btn-round:hover {
	background-color: #e3eeff;
	path {
		fill: #005dff;
	}
}

.dropdown-toggle-btn {
	position: absolute;
	right: 8px;
	background: none;
	border: none;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	transition: background-color 0.3s ease;
}

.dropdown-toggle-btn:hover {
	background-color: #e3eeff;
}

.dropdown-arrow {
	transition: transform 0.3s ease;
}

/* Checkbox styles */
.checkbox-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	font-size: 16px;
	padding-bottom: 16px;
}

.custom-checkbox {
	display: flex;
	align-items: center;
	cursor: pointer;
	user-select: none;
}

.checkbox-masked {
	content: "";
	position: relative;
	width: 24px;
	height: 24px;
	appearance: none;
	-webkit-appearance: none;
}

.checkbox-masked::before {
	content: "";
	background-color: #ffffff;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	width: 24px;
	height: 24px;
	background-image: url(..//assets/icon/sign/unchecked.svg);
}

.checkbox-masked:checked::before {
	content: "";
	position: absolute;
	transform: translateY(-50%);
	width: 24px;
	height: 24px;
	background-image: url(..//assets/icon/sign/checked.svg);
}

.dropdown-item input[type="checkbox"] {
	width: 18px;
	height: 18px;
	cursor: pointer;
	accent-color: #4589ff;
	margin-left: auto;
}

@media (max-width: 480px) {
	.radio-to-btn label {
		flex-direction: column;
		padding: 2px;
	}

	.radio-to-btn-text {
		font-size: 12px;
	}
}

.help-icon-svg {
	display: inline-block;
	width: 32px;
	height: 32px;
	background-image: url("/assets/icon/questionmark.svg");
	background-size: contain;
	background-repeat: no-repeat;
	transition: 0.2s ease-in-out;
}

 .help-icon-svg:hover {
	background-image: url("/assets/icon/questionmark-hover.svg");
	transform: scale(1.1);
}
