.main-wrapper {
    flex-grow: 1;
    max-width: calc(1920px - 232px);
    height: 100vh;
    margin-left: 232px;
    display: flex;
    flex-direction: column;
}

.main-content {
    margin: 72px 64px 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#logo-slide {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    background-color: #4589ff;
    transition: transform 1s cubic-bezier(0.77, 0, 0.18, 1);
    will-change: transform;
}

#logo-slide svg {
    width: 265px;
    height: 324px;
    transition:
    width 1s cubic-bezier(0.77, 0, 0.18, 1),
    height 1s cubic-bezier(0.77, 0, 0.18, 1);
}

/* Tablet: Sidebar wird Bottom-Nav */
@media (max-width: 1024px) {
    .main-wrapper {
        margin-left: 0;
        width: 100vw;
    }
}

/*Mobile*/
@media (max-width: 830px) {
    .main-content {
        margin: 12px 12px 39px;
    }

    .main-content-header {
        margin: 0 0 12px;
    }
}

@media (max-width: 745px) {
    .kanban {
        flex-direction: column;
        height: 100%;
    }
}
